.container{
  padding-top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0,0,0,0.6839110644257703) 0%, rgba(0,0,0,0.38139005602240894) 100%);

  width: 100%;
  height: 100%;
}
.container picture{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 200px;
}

.container picture img {
  width: 180px;
  margin: 3rem;
}

.options_container{
  display: flex;
  justify-content:center;
  align-items: center;
}
.menu_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
  margin: 0 100px;
}

.menu_container img {
  opacity: .8;
  transition: opacity .2s ease;
}
.menu_container img:hover {
  opacity: 1;
}

.menu_container:hover > span {
  opacity: 1;
  margin-top: 0;
}

.menu_container span {
  font-size: 3rem;
  margin-top: 5px;
  transition: margin-top .2s;
}

.menu_container img:hover > .option_name {
  margin-top: 0;
}
